<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.cuongnh2k.rest.account.AccountRepository">
    <select id="getAccount" parameterType="space.cuongnh2k.rest.account.query.GetAccountPrt"
            resultType="space.cuongnh2k.rest.account.query.AccountRss">
        /* space.cuongnh2k.rest.account.AccountRepository.getAccount */
        SELECT ID, EMAIL, PASSWORD, ACTIVATION_CODE, IS_ACTIVATED, FIRST_NAME, LAST_NAME, AVATAR_FILE_ID
        FROM ACCOUNT
        <where>
            IS_DELETED = 'NO'
            <if test="email != null">
                AND EMAIL = #{email}
            </if>
            <if test="id != null">
                AND ID = #{id}
            </if>
        </where>
    </select>

    <insert id="createAccount" parameterType="space.cuongnh2k.rest.account.query.CreateAccountPrt">
        /* space.cuongnh2k.rest.account.AccountRepository.createAccount */
        INSERT INTO ACCOUNT (ID, EMAIL, PASSWORD, FIRST_NAME, LAST_NAME, ACTIVATION_CODE)
        VALUES (#{id}, #{email}, #{password}, #{firstName}, #{lastName}, #{activationCode});
    </insert>

    <update id="updateAccount" parameterType="space.cuongnh2k.rest.account.query.UpdateAccountPrt">
        /* space.cuongnh2k.rest.account.AccountRepository.updateAccount */
        UPDATE ACCOUNT
        <set>
            <if test="password != null">PASSWORD = #{password},</if>
            <if test="firstName != null">FIRST_NAME = #{firstName},</if>
            <if test="lastName != null">LAST_NAME = #{lastName},</if>
            <if test="avatarFileId != null">AVATAR_FILE_ID = #{avatarFileId},</if>
            <if test="isActivated != null">IS_ACTIVATED = #{isActivated},</if>
        </set>
        <where>
            <if test="id != null">ID = #{id}</if>
            <if test="activationCode != null">AND ACTIVATION_CODE = #{activationCode}</if>
            <if test="isActivated != null">AND IS_ACTIVATED = 'NO'</if>
        </where>
    </update>
</mapper>