<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.cuongnh2k.rest.file.FileRepository">

    <select id="getFile" parameterType="space.cuongnh2k.rest.file.query.GetFilePrt"
            resultType="space.cuongnh2k.rest.file.query.FileRss">
        /* space.cuongnh2k.rest.file.FileRepository.getFile */
        SELECT
        ID,
        OWNER_ID,
        NAME,
        CONTENT_TYPE,
        SIZE
        FROM FILE
        <where>
            IS_DELETED = 'NO'
            <if test="id != null">AND ID = #{id}</if>
            <if test="ownerId != null">AND OWNER_ID = #{ownerId}</if>
            <if test="ids != null">
                <foreach item="item" index="index" collection="ids" open="AND ID IN (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="uploadFile" parameterType="java.util.List">
        /* space.cuongnh2k.rest.file.FileRepository.uploadFile */
        INSERT INTO FILE (ID,
        OWNER_ID,
        NAME,
        CONTENT_TYPE,
        SIZE)
        VALUES
        <foreach collection="list" item="element" index="index" open="(" separator="),(" close=")">
            #{element.id},
            #{element.ownerId},
            #{element.name},
            #{element.contentType},
            #{element.size}
        </foreach>
    </insert>

    <update id="deleteFile" parameterType="space.cuongnh2k.rest.file.query.DeleteFilePrt">
        /* space.cuongnh2k.rest.file.FileRepository.deleteFile */
        UPDATE FILE
        <set>
            IS_DELETED = 'YES'
        </set>
        <where>
            IS_DELETED = 'NO'
            <if test="ownerId != null">AND OWNER_ID = #{ownerId}</if>
            <if test="ids != null">
                <foreach item="item" index="index" collection="ids" open="AND ID IN (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </update>

</mapper>